.eggs/
.hypothesis/
.idea/
*.so
*.a
*.pb.cc
*.pb.h
*.pyc
*.pc
*.cmake
!cpp/CMake/*.cmake
!cpp/third_party/msgpack-c/Files.cmake
.cache
.eggs/
.mypy_cache
python/arcticc/pb2/*.py
.idea/
nogit/
.vscode/
build/
dist/
cmake-build-*/
/.project
/.vs
tests/cpp/arcticdb_rapidcheck_tests
test_nogit.py
__pycache__/*
build/*
dist/*
dist_release/*
dockerfile.mb*
*.mb_log
db_clone/*
mkdocs/docs/index.md
cpp/docker
