name: arcticdb
channels:
  - conda-forge
dependencies:
  # Build tools
  - cmake
  - gtest
  - gflags
  - doxygen
  - boost-cpp
  - grpcio
  - grpcio-tools
  - protobuf
  # Build dependencies
  - krb5
  - lz4-c
  - double-conversion
  - libevent
  - libmongocxx
  - zstd
  - pybind11
  - pcre
  - cyrus-sasl
  - aws-sdk-cpp
  - prometheus-cpp
  - libprotobuf < 4
  - bitmagic
  - spdlog
  - fmt
  - folly >2022.10.31 # latest version published on vcpkg
  # Vendored build dependencies (see `cpp/thirdparty`)
  # Versions must be kept in sync
  - xxhash
  - semimap
  - robin_hood
  - rapidcheck
  - msgpack-c
  - recycle
  - remotery
  # Matches the version of lmdb and lmdbxx as vendored
  # via submodules.
  - lmdb==0.9.22
  - lmdbxx==0.9.14
  # Python dependences
  - python <=3.10 # Python 3.11 requires protobuf>=4
  - numpy
  - pandas < 2
  - pytest
  - boto3
  - werkzeug
  - moto
  - pytest-server-fixtures
  - msgpack-python
  # Pinned to avoid test disruption (in phase with the pin in setup.cfg)
  # See: https://github.com/man-group/ArcticDB/pull/291
  - hypothesis < 6.73
  - pytest-sugar
