name: arcticdb
channels:
  - conda-forge
dependencies:
  - lmdb
  - boost-cpp  
  - fmt
  - spdlog
  - folly == "2022.10.31"
  - lz4-c
  - prometheus-cpp
  - double-conversion
  - libevent
  - libprotobuf  
  - libmongocxx
  - zstd
  - pybind11
  - pcre
  - gflags
  - cyrus-sasl
  - python
  - msgpack-c
  - doxygen
  - aws-sdk-cpp
  - gtest
  - cmake
  - bitmagic
  - numpy
  - pandas
  - pytest
  - boto3
  - krb5
  - werkzeug
  - moto
  - pytest-server-fixtures
  - hypothesis < 6.73
  - pytest-sugar
  - xxhash