name: arcticdb
channels:
  - conda-forge
dependencies:
  - lmdb
  - boost-cpp
  - fmt
  - spdlog
  # This is the last version published on vcpkg the usual
  # installation setup depends on.
  - folly==2022.10.31
  - lz4-c
  - prometheus-cpp
  - double-conversion
  - libevent
  - libprotobuf < 4
  - libmongocxx
  - zstd
  - pybind11
  - pcre
  - gflags
  - cyrus-sasl
  - python
  - msgpack-c
  - doxygen
  - aws-sdk-cpp
  - gtest
  - cmake
  - bitmagic
  - numpy
  - pandas
  - pytest
  - boto3
  - krb5
  - werkzeug
  - moto
  - pytest-server-fixtures
  # Pinned to avoid test disruption (in phase with the pin in setup.cfg)
  # See: https://github.com/man-group/ArcticDB/pull/291
  - hypothesis < 6.73
  - pytest-sugar
  - xxhash
  - semimap
  - robin_hood
  - rapidcheck
  - recycle
