site_name: ArcticDB

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html

theme:
  name: material
  logo: images/FullWithBorder.png
  favicon: images/FullWithBorder.png
  palette:
    scheme: arcticdb
  features:
    - navigation.expand
extra_css:
  - stylesheets/extra.css


nav:
- Getting Started: 'index.md'
    - Getting Started with AWS S3: 'aws.md'
- Overview:
    - History of ArcticDB: 'history.md'
    - Frequently Asked Questions: 'faq.md'
    - Licensing FAQs: 'licensing.md'
- Tutorials:
    - Fundamentals: 'tutorials/fundamentals.md'
    - Parallel Writes: 'tutorials/parallel_writes.md'
    - Snapshots: 'tutorials/snapshots.md'
    - Metadata: 'tutorials/metadata.md'
- Library Configuration: 'lib_config.md'
- Runtime Configuration: 'runtime_config.md'
- Error Messages: 'error_messages.md'
- Technical Information:
    - Architecture: 'technical/architecture.md'
    - On-Disk Storage: 'technical/on_disk_storage.md'
    - Arctic Migration: 'technical/migration.md'
    - Contributing: 'technical/contributing.md'
- Python API Reference: './api/index.html'
