site_name: ArcticDB
repo_url: https://github.com/man-group/ArcticDB
repo_name: man-group/ArcticDB

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - toc:
      permalink: True
      toc_depth: '1-3'

plugins:
  - search
  - mkdocs-jupyter:
      ignore_h1_titles: True
      include_source: True

theme:
  name: material
  custom_dir: overrides
  logo: images/FullWithBorder.png
  favicon: images/FullWithBorder.png
  palette:
    scheme: arcticdb
  features:
    - navigation.tabs
    - navigation.sections

extra_css:
  - stylesheets/extra.css
  - stylesheets/material.css
  - stylesheets/mkdocstrings-python.css

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            load_external_modules: true
            preload_modules:
              - arcticdb_ext
            show_source: false
            allow_inspection: true
            group_by_category: true
            docstring_options:
              ignore_init_summary: false
              allow_section_blank_line: true
            docstring_section_style: spacy
            heading_level: 2
            inherited_members: true
            merge_init_into_class: false
            separate_signature: true
            show_root_heading: true
            show_root_toc_entry: true
            show_root_full_path: true
            show_root_members_full_path: false
            show_object_full_path: false
            show_signature_annotations: true
            signature_crossrefs: true
            summary: true
            unwrap_annotated: true
            docstring_style: numpy

nav:
- Home:
  - Introduction: 'index.md'
  - History of ArcticDB: 'history.md'
  - Frequently Asked Questions: 'faq.md'
  - Licensing FAQs: 'licensing.md'
- Guides:
  - Tutorials:
      - Fundamentals: 'tutorials/fundamentals.md'
      - Parallel Writes: 'tutorials/parallel_writes.md'
      - Snapshots: 'tutorials/snapshots.md'
      - Metadata: 'tutorials/metadata.md'
      - In-memory backends: 'tutorials/lmdb_and_in_memory.md'
  - Storage Guides:
      - Getting started with AWS S3: 'aws.md'
      - Getting started with Azure Blob Storage: 'azure.md'
  - Notebooks:
      - Intro Notebook: 'notebooks/ArcticDB_demo_lmdb.ipynb'
  - Technical Information:
      - Architecture: 'technical/architecture.md'
      - On-Disk Storage: 'technical/on_disk_storage.md'
      - Arctic Migration: 'technical/migration.md'
      - Contributing: 'technical/contributing.md'
  - Configuration:
      - Library Configuration: 'lib_config.md'
      - Runtime Configuration: 'runtime_config.md'
      - Error Messages: 'error_messages.md'
- Python API Reference: 
    - Introduction: 'api/index.md'
    - Arctic: 'api/arctic.md'
    - Library: 'api/library.md'
    - Library Types: 'api/library_types.md'
    - Query Builder: 'api/query_builder.md'
    - Exceptions: 'api/exceptions.md'
