site_name: ArcticDB
site_url: https://docs.arcticdb.io/
repo_url: https://github.com/man-group/ArcticDB
repo_name: man-group/ArcticDB
remote_branch: docs-pages

strict: true

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - def_list
  - toc:
      permalink: True
      toc_depth: '1-3'

theme:
  name: material
  custom_dir: overrides
  font:
    text: Aspekta
    code: Geist Mono

  logo: images/ArcticDB Logo.svg
  favicon: images/ArcticDB Logo.svg
  palette:
    scheme: arcticdb
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
    - toc.integrate

extra:
  version:
    provider: mike
    default: latest

extra_css:
  - stylesheets/extra.css
  - stylesheets/material.css
  - stylesheets/mkdocstrings-python.css

plugins:
  - search
  - autorefs
  - mike:
      alias_type: copy
  - mkdocs-jupyter:
      ignore_h1_titles: True
      include_source: True
  - mkdocstrings:
      handlers:
        python:
          options:
            load_external_modules: true
            preload_modules:
              - arcticdb_ext
            show_source: false
            allow_inspection: true
            group_by_category: true
            docstring_options:
              ignore_init_summary: false
            docstring_section_style: spacy
            heading_level: 2
            inherited_members: true
            merge_init_into_class: false
            separate_signature: true
            show_root_heading: true
            show_root_toc_entry: true
            show_root_full_path: true
            show_root_members_full_path: false
            show_object_full_path: false
            show_signature_annotations: true
            signature_crossrefs: true
            summary: true
            unwrap_annotated: true
            docstring_style: numpy

nav:
- Home:
  - Introduction: 'index.md'
  - History of ArcticDB: 'history.md'
  - Frequently Asked Questions: 'faq.md'
  - Licensing FAQs: 'licensing.md'
- Guides:
  - Tutorials:
    - Fundamentals: 'tutorials/fundamentals.md'
    - Parallel Writes: 'tutorials/parallel_writes.md'
    - Snapshots: 'tutorials/snapshots.md'
    - Metadata: 'tutorials/metadata.md'
    - In-memory Backends: 'tutorials/lmdb_and_in_memory.md'
    - Data Organisation Guide: 'tutorials/data_organisation.md'
    - Library Sizes: 'tutorials/library_sizes.md'
    - Statistics: 'tutorials/query_stats.md'
  - Storage Guides:
    - Getting started with AWS S3: 'aws.md'
    - Library Permissions with AWS S3: 'aws_permissions.md'
    - Getting started with Azure Blob Storage: 'azure.md'
  - Technical Information:
    - Architecture: 'technical/architecture.md'
    - On-Disk Storage: 'technical/on_disk_storage.md'
    - Arctic Migration: 'technical/migration.md'
    - Contributing: 'technical/contributing.md'
    - Upgrade Storage: 'technical/upgrade_storage.md'
  - Configuration:
    - Library Configuration: 'lib_config.md'
    - Runtime Configuration: 'runtime_config.md'
    - Error Messages: 'error_messages.md'
- Notebooks:
  - Intro Notebook: 'notebooks/ArcticDB_demo_lmdb.ipynb'
  - LazyDataFrame Notebook: 'notebooks/ArcticDB_demo_lazydataframe.ipynb'
  - Querybuilder Notebook: 'notebooks/ArcticDB_demo_querybuilder.ipynb'
  - Resample Notebook: 'notebooks/ArcticDB_demo_resample.ipynb'
  - Symbol Concat Notebook: 'notebooks/ArcticDB_demo_concat.ipynb'
  - AWS Blockchain Notebook: 'notebooks/ArcticDB_aws_public_blockchain.ipynb'
  - Snapshots Notebook: 'notebooks/ArcticDB_demo_snapshots.ipynb'
  - Equity Analytics Notebook: 'notebooks/ArcticDB_demo_equity_analytics.ipynb'
  - Equity Options Notebook: 'notebooks/ArcticDB_demo_equity_options.ipynb'
  - 1 Billion Row Challenge Notebook: 'notebooks/ArcticDB_billion_row_challenge.ipynb'
  - Pythagorean Won Loss Formula Notebook: 'notebooks/ArcticDB_pythagorean_won_loss_formula_notebook.ipynb'
  - Staged Data Notebook: 'notebooks/ArcticDB_staged_data_with_tokens.ipynb'
  - Recursive normalizer Notebook: 'notebooks/ArcticDB_demo_recursive_normalizers.ipynb
- Python API Reference: 
  - Introduction: 'api/index.md'
  - Arctic: 'api/arctic.md'
  - Arctic URI: 'api/arctic_uri.md'
  - Library: 'api/library.md'
  - Library Related Objects: 'api/library_types.md'
  - DataFrame Processing Operations API: 'api/processing.md'
  - Exceptions: 'api/exceptions.md'
  - Config: 'api/config.md'
  - Admin Tools: 'api/admin_tools.md'
  - Query Stats: 'api/query_stats.md'

exclude_docs: |
  *.py
  /notebooks/README.md
  technical/linting.md
