pycparser
six
cffi
urllib3
python-dateutil
PyJWT
jmespath
idna
cryptography
charset-normalizer
certifi
requests
py
pluggy
path
oauthlib
MarkupSafe
iniconfig
dataclasses
botocore
attrs
Werkzeug
termcolor
s3transfer
requests-oauthlib
pytz
pytest
protobuf
portalocker
path.py
numpy
msal
mock
Jinja2
itsdangerous
isodate
grpcio
execnet
decorator
contextlib2
click
azure-core
xxhash
xmltodict
sortedcontainers
retry
responses
pyyaml
pytest-shutil
pytest-fixture-config
psutil
prometheus-client
pandas
msrest
msgpack
msal-extensions
grpcio-tools
future
flask
colorama
boto3
pytest-timeout
pytest-server-fixtures
pytest-cpp
pymongo
moto
hypothesis
flask-cors
azure-storage-blob
azure-identity
coverage
pytest-xdist
