# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.name
*.iml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml
