name: "Automated Release: Release next RC from release branch"

on:
  push:
    branches:
      - '[0-9]+.[0-9]+.[0-9]+'
  workflow_dispatch:

run-name: Release next RC from '${{ github.ref_name }}' 
jobs:
  get_tag_name:
    name: Calculate next RC number
    env:
      CURRENT_BRANCH: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    outputs:
      next_version: ${{ steps.calculate-next-version.outputs.next_version }}
    steps:
      - name: Get latest RC tag
        id: latest_rc_tag
        uses: oprypin/find-latest-tag@v1
        with:
          repository: ${{ github.repository }}
          prefix: v${{ env.CURRENT_BRANCH }}${{ vars.RC_SUFFIX }}
        continue-on-error: true

      - name: Calculate next_version
        id: calculate-next-version
        run: |
          LATEST_TAG="${{ steps.latest_rc_tag.outputs.tag }}"
          
          if [[ -z "$LATEST_TAG" ]]; then
            next_version="${CURRENT_BRANCH}${{ vars.RC_SUFFIX }}0"
          else
            LATEST_TAG="${LATEST_TAG#v}"
            base="${LATEST_TAG%${{ vars.RC_SUFFIX }}*}"
            rc_number="${LATEST_TAG##*${{ vars.RC_SUFFIX }}}"
            next_rc_number=$((rc_number + 1))
            next_version="${base}${{ vars.RC_SUFFIX }}${next_rc_number}"
          fi
          
          echo "next_version=$next_version" >> $GITHUB_OUTPUT

  tag_and_release:
    name: Tag and release version ${{ needs.get_tag_name.outputs.next_version }} from branch ${{ github.ref_name }}
    uses: ./.github/workflows/tag.yml
    secrets: inherit
    permissions:
      checks: read
      contents: write
    needs: get_tag_name
    with:
      version: ${{ needs.get_tag_name.outputs.next_version }}  
      from_branch: ${{ github.ref_name }}
if: false
