name: Build with conda
on:
  push:
  # For Pull-Requests, this runs the CI on merge commit
  # of HEAD with the target branch instead on HEAD, allowing
  # testing against potential new states which might have
  # been introduced in the target branch last commits.
  # See: https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#pull_request
  pull_request:

jobs:
  linux:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest

      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Conda environment from environment_unix.yml
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment_unix.yml
          environment-name: arcticdb
          
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
        with:
          mongodb-port: 27017
          
      - name: Build ArcticDB with conda (ARCTICDB_USING_CONDA=1)
        shell: bash -l {0}
        run: |
          python -m pip install -v -e .
        env:
          ARCTICDB_USING_CONDA: 1


      - name: Test with pytest
        shell: bash -l {0}
        run: |
          cd python
          python -m pytest tests
        env:
          CI_MONGO_PORT: 27017
          CI_MONGO_HOST: localhost
  macos:
    strategy:
      matrix:
        include:
          - os: macos-latest

      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Conda environment from environment_unix.yml
        uses: mamba-org/provision-with-micromamba@main
        with:
          environment-file: environment_unix.yml
          environment-name: arcticdb
          
      - name: Build ArcticDB with conda (ARCTICDB_USING_CONDA=1)
        shell: bash -l {0}
        run: |
          python -m pip install -v -e .
        env:
          ARCTICDB_USING_CONDA: 1

      - name: Test with pytest
        shell: bash -l {0}
        run: |
          cd python
          python -m pytest tests
