name: Tag and Release
on:
  workflow_dispatch:
    inputs:
      version:
        type: string
        required: true
      overwrite:
        description: Force push tag
        type: boolean
        default: false
  workflow_call:
    inputs:
      version:
        type: string
        required: true
      from_branch:
        type: string
        required: true

run-name: Tagging ${{ inputs.from_branch || github.ref_name }} as v${{inputs.version}}${{inputs.overwrite && ' [Overwrite]' || ''}}
env:
  FROM_BRANCH: ${{ inputs.from_branch || github.ref_name }}
jobs:
  tag:
    environment: TestPypi  # Enforcing deployment branches permissions
    runs-on: ubuntu-22.04
    permissions:
        checks: read
        contents: write
    env:
      BASH_FUNC_tag_and_push%%: |-
        () {
          sed -ri '/^\[metadata]/, /^\[/ s/^version[[:blank:]]*=.*/version = '$2/ setup.cfg
          sed -i "/__version__ =/d" python/arcticdb/__init__.py 
          echo "__version__ = \"$2\"" >> python/arcticdb/__init__.py
          git add setup.cfg README.md python/arcticdb/__init__.py
          git status
          git diff --cached --exit-code || git commit -m "$1 v$2"
          set -x
          git push origin HEAD:$3 $4
        }
    steps:
      - name: Checkout
        uses: actions/checkout@v3.3.0
        with:
          token: ${{secrets.TAGGING_TOKEN}}
          ref: ${{ env.FROM_BRANCH }}

      - name: Tag required version
        run: |
          git config user.name "GitHub Actions"
          git config user.email "info@arcticdb.io"
          git switch -C tagging refs/heads/${{ env.FROM_BRANCH }}
          # Remove the build status badge from a version tag
          sed -i 's#<img src="https://github.com/man-group/ArcticDB/actions/workflows/build.yml/badge.svg"/>##' README.md || true
          tag_and_push "Tagging" ${{inputs.version}} refs/tags/v${{inputs.version}} ${{inputs.overwrite && '-f' || ''}}
if: false
